<% layout("djbeauty/layouts/boilerplate.ejs") %>

<main>
    <form action="/offers" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="image">Image</label>
        <input type="text" name="image" id="image">
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
        <label for="expiredDate">Expired Date</label>
        <input type="date" name="expiredDate" id="expiredDate">
        <button type="submit">Submit</button>
    </form>
</main>
</body>
</html>