<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <main class="container">
        <article>
            <form action="/treatments/waxings?_method=PATCH" method="post">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
                <label for="duration">Duration</label>
                <input type="text" name="duration" id="duration">
                <label for="price">Price</label>
                <input type="number" name="price" id="price">

                <table>
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Price</th>
                        <th>Delete?</th>
                    </tr>
                    <% for(let waxing of waxings){ %> 
                        <tr>
                            <td><%= waxing.name  %> </td>
                            <td><%= waxing.duration %> </td>
                            <td><%= waxing.price %> </td>
                            <td><input type="checkbox" name="deleted" id="deleted" value="<%= waxing._id %>"></td>

                        </tr>
                        <% } %> 
                </table>
                <button type="submit">Update</button>
            </form>
        </article>
    </main>
</body>
</html>