<footer id="overwrite-bootstrap-footer" class="footer py-3 text-black mt-auto">
  <div class="container home-container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 id="shop-name">D & J Beauty and Thai Spa</h3>
      </div>
    </div>

    <div class="row footer-row">
      <div class="col-md-4 col-sm-12 text-center">
        <div>
          <h4 id="follow">Follow us</h4>
          <h5>on</h5>
          <div id="footer-icons">
            <i class="fa-brands fa-facebook-f mx-2"></i>
            <i class="fa-brands fa-instagram mx-2"></i>
            <i class="fa-brands fa-google mx-2"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <div>
          <h4 id="contact"><i class="fa-solid fa-address-card"></i> Contact</h4>
            <a id="shop-email" href="mailto:djbeauty178@gmail.com">djbeauty178@gmail.com</a>
          <br>
          <i class="fa-solid fa-mobile-screen-button"></i> <a href="tel:02036598400">0203 659 8400</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <div>
          <h4 id="address"><i class="fa-solid fa-location-dot"></i> Address</h4>
          <a href="https://www.google.com/maps/dir//178+High+St,+Hadley,+Barnet+EN5+5SZ/@51.6562927,-0.2038327,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x48761791f01b6f3f:0x6ae84bb3692e7078!2m2!1d-0.201644!2d51.6562927!3e0">178 High Street, High Barnet, EN55SZ</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>
          &copy by D&J Beauty and Thai Spa. Proudly created by Supavich Aussawa
        </p>
      </div>
    </div>
  </div>
</footer>
