<footer class="footer bg-dark py-3 text-white mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-center">
                <h3>D & J Beauty and Thai Spa</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-4 text-center">
                <div>
                    <h4>Follow us</h4>
                    <h5>on</h5>
                    <i class="fa-brands fa-facebook-f mx-2"></i>
                    <i class="fa-brands fa-instagram mx-2"></i>
                    <i class="fa-solid fa-thumbs-up mx-2"></i>

                </div>
            </div>
            <div class="col-4 text-center">
                <div>
                    <h4>Contact</h4>
                    <p>djbeauty178@gmail.com</p>
                    <p>0203 659 8400</p>
                </div>
            </div>
            <div class="col-4 text-center">
                <div>
                    <h4>Address</h4>
                    <p>178 High Street, High Barnet, EN55SZ</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-center">
                <p>&copy by D&J Beauty and Thai Spa. Proudly created by Supavich Aussawa</p>
            </div>
        </div>
    </div>
</footer>