<h1 class="visually-hidden">Sidebars examples</h1>

<div
  class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white mt-0" 
  style="width: 10em; height: 90vh">
  
    <span class="fs-4 text-center">Quick Access</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto text-center sidebarCss ">
    <li class="nav-item">
      <a href="/treatments/massages" class="nav1 nav-link" >

        Massages
      </a>
    </li>
    <li>
      <a href="/treatments/facials" class="nav2 nav-link">

        Facials
      </a>
    </li>
    <li>
      <a href="/treatments/waxings" class="nav-link">

        Waxing
      </a>
    </li>
    <li>
      <a href="/carpark" class="nav-link text-center">
        Car Park near D&J

         
      </a>
    </li>
  </ul>
  <hr />
  
</div>
