<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car park near D&J</title>
</head>
<body>
    <h1>Car Park near D&J</h1>
    <p>​Here are our recommendation lists of car parks around D&J Beauty and Thai Spa, since we know sometimes finding the car
    park can be a bit of a hassle, so let us help to getting rid of it.</p>
    

    <div>
        <article>
            <h1>Stapylton Road Car Park</h1>
            <p>Description: 3 mins walking distance away from D&J, this is a public car park run by Barnet and are next to
            Chipping Barnet library, so you will definitely not going to miss it.</p>
            <h2>Tariff days and time</h2>
            <p>Monday - Saturday 8am - 6.30pm</p>
            <h2>Tariff charges</h2>
            <table>
                <tr>
                    <th>Duration</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Up to 30 mins</td>
                    <td>£0.64</td>
                </tr>
                <tr>
                    <td>Up to 1 hour</td>
                    <td>£1.28</td>
                </tr>
                <tr>
                    <td>Up to 3 hours</td>
                    <td>£2.56</td>
                </tr>
                <tr>
                    <td>Up to 4 hours</td>
                    <td>£3.20</td>
                </tr>
                <tr>
                    <td>Over 4 hours</td>
                    <td>£6.40</td>
                </tr>
            </table>

            <h2>Pay by phone number</h2>
            <p>7522</p>
        </article>
        <article>
            <h1>Barnet The Spire Shopping car park</h1>
            <p>Description: this car park located inside the spire shopping centre with 3 mins walking distance to D&J Beauty and Thai Spa.</p>
            <h2>Tariff days and time</h2>
            <ul>
                <li>Monday - Thursday : 8am - 8.30pm</li>
                <li>Friday : 8am - 9.30pm</li>
                <li>Saturday : 9am - 8.30pm</li>
                <li>Sunday :  8am - 5.30pm</li>
            </ul>
            <h2>Tariff charges</h2>
            <table>
                <tr>
                    <th>Duration</th>
                    <th>Price</th>
                </tr>

                <tr>
                    <td>1 hour</td>
                    <td>£1.00</td>
                </tr>
                <tr>
                    <td>1 to 2 hours</td>
                    <td>£2.00</td>
                </tr>
                <tr>
                    <td>2 to 3 hours</td>
                    <td>£3.00</td>
                </tr>
                <tr>
                    <td>3 to 4 hours</td>
                    <td>£4.00</td>
                </tr>
                <tr>
                    <td>4 to 24 hours</td>
                    <td>£5.50</td>
                </tr>
            </table>
            <h2>Pay by phone number</h2>
            <p>7522</p>
        </article>
        <article>
            <h1>Stapylton Road Car Park</h1>
            <p>Description:since D&J Beauty and Thai Spa is on the High Street, we have a list of side road parking on the High Street.</p>
            <h2>Pay by phone number:</h2>
            <ul>
                <li>9154</li>
                <li>9095</li>
                <li>9108</li>
                <li>9068</li>
                <li>9070</li>
            </ul>
        </article>
    </div>
    <div>
        <img src="/images/roadParkingLocation.jpg" alt="Image not found!">
    </div>

</body>
</html>