<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    
        <article>
            <h1>Comments and Reviews</h1>
            <h2 id="review-sub-title">See for yourself what our client said about D&J!</h2>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <img src="https://www.apnavacancy.com/wp-content/uploads/2021/11/Google-Online-Work-From-Home.png" class="img-thumbnail rounded-circle img-review" alt="...">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="https://logos-world.net/wp-content/uploads/2020/11/Tripadvisor-Logo-2020-present.jpg" class="img-thumbnail rounded-circle img-review" alt="...">

                </div>
                <div class="col-lg-4 col-sm-12" style="display: flex; flex-direction: column; justify-content: center;">
                    <img src="https://global-uploads.webflow.com/5ca226ddb7e3ed9e1f2468a8/602519b0df95f58f34247f25_treatwell.png" class="img-thumbnail rounded-circle img-review" alt="...">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <img src="/images/reviews/google_summary.png" class="img-fluid" alt="...">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="/images/reviews/tripadvisor_summary.png" class="img-fluid" alt="...">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="/images/reviews/treatwell_summary.png" class="img-fluid" alt="...">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div id="carouselExampleInterval1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="/images/reviews/google_1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/images/reviews/google_2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/reviews/google_3.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/reviews/google_4.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div id="carouselExampleInterval2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="/images/reviews/tripadvisor_1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/images/reviews/tripadvisor_2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/reviews/tripadvisor_3.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="/images/reviews/treatwell_1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/images/reviews/treatwell_2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/reviews/treatwell_3.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/reviews/treatwell_4.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                
                
            </div>
            

        </article>

</body>
</html>