<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <main class="container">
        <article>
            <h1>Comments and Reviews</h1>
            <h2></h2>
        </article>
    </main>
</body>
</html>