<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <main class="container">
        <article>
            <h1>Contacts</h1>
            <form action="/contacts/success" method="post">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email">
                <label class="form-label" for="phone">Home/Mobile Number</label>
                <input class="form-control" type="tel" name="phone" id="phone" 
                        pattern="[0]{1}[0-9]{10}">
                <small>pattern: 07737515000</small>
                <br>
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
                <button type="submit" class="btn btn-primary mt-2">Contact Us</button>
            </form>

        </article>
    </main>
</body>
</html>