<% layout("djbeauty/layouts/bolerplate_withImage.ejs") %>
<body >
    

    <main class="home text-center">
        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-11">
                <div class="ml-5">
                    <h1>About D&J</h1>
                    <p>D&J Beauty and Thai spa is a massage in Barnet; we provide a range of massages including Thai massage, Swedish massage,
                    Deep tissue massage, and Foot massage(Reflexology).</p>
                    <br>
                    <p>We also have beauty treatments which include waxing and facials.
                    For more details, please visit our treatment pages.</p>
                    <p>If you are in High Barnet come and visit us at DJ Beauty and Thai Spa, we assure you that you will leave feeling fresh
                    and rejuvenated after your treatment.</p>
                </div>  

            </div>
        </div>
    </main>
    
</body>
</html>