<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main>
        <h1>About D&J</h1>
        <p>D&J Beauty and Thai spa is a massage in Barnet; we provide a range of massages including Thai massage, Swedish massage,
        Deep tissue massage, and Foot massage(Reflexology).
        
        We also have beauty treatments which include waxing and facials.
        For more details, please visit our treatment pages.
        
        If you are in High Barnet come and visit us at DJ Beauty and Thai Spa, we assure you that you will leave feeling fresh
        and rejuvenated after your treatment.</p>
    </main>
</body>
</html>