<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <main class="container">
        <article>
            <h1>Treat yourself to a relaxing, rejuvenating, and calming experience. Because you deserve it!</h1>
            <p>Here at DJ Beauty and Thai Spa we only offer you professional treatments that leave you feeling like a million, from
            massages to facials whatever the treatment you will be content with your experience here with us.            
            To learn more about what we provide take a look at our treatments page to find out what treatment will suit you best!
            Or alternatively, call us on 0203 659 8400 to ask us for more information.
            we wish you the best, from DJ Beauty.</p>
        </article>

        <article>
            <h1>About D&J</h1>
            <p>D&J Beauty and Thai spa is a massage in Barnet; we provide a range of massages including Thai massage, Swedish massage,
            Deep tissue massage, and Foot massage(Reflexology).
            We also have beauty treatments which include waxing and facials
            For more details, please visit our treatment pages
            
            If you are in High Barnet come and visit us at DJ Beauty and Thai Spa, we assure you that you will leave feeling fresh
            and rejuvenated after your treatment.</p>
        </article>
    </main>
</body>
</html>