<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <h1>Thank you for sending your enquiry to D&J Beauty and Thai Spa.</h1>
    <h2>For quicker response, please call us on 0203 659 8400</h2>
    <a href="/"><button>Go back to home page</button></a>
</body>
</html>