<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body >
    <div class="container">
        <h1>Thank you for sending your enquiry to D&J Beauty and Thai Spa.</h1>
        <h2>For quicker response, please call us on 0203 659 8400</h2>
        <br>
        <a href="/"><button class="btn btn-success">Go back to home page</button></a>
    </div>
</body>
</html>