<% layout("djbeauty/layouts/boilerplate.ejs") %>
<body>
    <main class="container">
        <article>
            <h1>New Massage</h1>
            <form action="/treatments/massages" method="post">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
                <label for="benefit">Benefit</label>
                <textarea name="benefit" id="benefit" cols="30" rows="10"></textarea>
                <button type="submit">Create New Massage</button>
            </form>
        </article>
    </main>
</body>
</html>