main {
  margin-top: 10px;
}
.sidebarCss li a :hover {
  color: aqua;
}

.nav1:hover {
  color: goldenrod;
}
.sidebarCss li a {
  color: rgb(173, 105, 16)
}
.sidebarCss li a:hover {
  color: goldenrod;
  text-decoration: underline;
  text-decoration-color: black;
}
.treatments-div button {
  margin: 5px;
}
.home {
  height: 100%;
  padding: 5% 30% 5% 5%;
  margin: 0 0 0 0;
  font-size: 3rem;
}
.boilerplate_withImage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("/images/homeImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 0 0 0;
}
.home h1 {
  font-size: 1.5em;
}
.center {
  margin: 0 auto;
}
.carparkStyle li {
  list-style-type: none;
}
.carparkStyle article {
  border: 2px solid rgb(0, 0, 0);
}
.carparkStyle h1 {
  font-size: 3.5em;
}
@media all {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
.card {
  display: inline-block;
}
.facial_card{
  display: inline-block;
}
.waxing-table-header th{
  padding: 10px;
  margin:10px;
}
.waxing-table td{
  padding: 10px;
  margin:10px;
}
#override-bootstrap-navbar-djname{
  color:goldenrod;
  font-size: 2em;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-family: 'Tangerine', cursive;
}
.treatwell-widget{
  
  background-color: goldenrod;
  font-family: 'Nanum Myeongjo', serif;
  font-size: large;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}
.treatwell-widget:hover{
  background-color: burlywood;
}
#overwrite-bootstrap-footer{
  background-color: goldenrod;
  font-weight: bold;
  
}
@media only screen and (max-width: 1178px) {
    #dj-name {
        display: none;
    }
}
@media only screen and (max-width:763px) {
  #override-bootstrap-navbar-djname{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
@media only screen and (max-width:1000px) {
  #sidebar{
    display: none;
  }
}
@media only screen and (max-width:767px) {
  #navbar-rightside{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
@media only screen and (max-width:767px) {
  #signin-signout{
    width: 150px;
  }
}

