main {
  margin-top: 10px;
}
.sidebarCss li a :hover {
  color: aqua;
}

.nav1:hover {
  color: goldenrod;
}
.sidebarCss li a {
  color: rgb(173, 105, 16);
}
.sidebarCss li a:hover {
  color: goldenrod;
  text-decoration: underline;
  text-decoration-color: black;
}
.treatments-div button {
  margin: 5px;
}
.home {
  height: 100%;
  padding: 5% 30% 5% 5%;
  margin: 0 0 0 0;
  font-size: 3rem;
}
.boilerplate_withImage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("/images/homeImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 0 0 0;
}
.home h1 {
  font-size: 1.5em;
}
.center {
  margin: 0 auto;
}
.carparkStyle li {
  list-style-type: none;
}
.carparkStyle article {
  border: 2px solid rgb(0, 0, 0);
}
.carparkStyle h1 {
  font-size: 3.5em;
}
@media all {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
.card {
  display: inline-block;
}
.facial_card {
  display: inline-block;
}
#massage_card {
  display: inline-block;
}
.waxing-table-header th {
  padding: 10px;
  margin: 10px;
}
.waxing-table td {
  padding: 10px;
  margin: 10px;
}
#override-bootstrap-navbar-djname {
  color: goldenrod;
  font-size: 2em;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-family: "Tangerine", cursive;
}
.treatwell-widget {
  background-color: goldenrod;
  font-family: "Nanum Myeongjo", serif;
  font-size: large;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}
.treatwell-widget:hover {
  background-color: burlywood;
}
#overwrite-bootstrap-footer {
  background-color: goldenrod;
  font-weight: bold;
}
@media only screen and (max-width: 1178px) {
  #dj-name {
    display: none;
  }
}
@media only screen and (max-width: 763px) {
  #override-bootstrap-navbar-djname {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  #sidebar {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  #navbar-rightside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  #boilerplate-body {
    width: 100vw;
    margin: 0;
  }
  #wax-main {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 767px) {
  #signin-signout {
    width: 150px;
  }
}
@media only screen and (max-width: 750px) {
  .home {
    font-size: 30px;
  }
}
@media only screen and (max-width: 750px) {
  .home {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 750px) {
  .footer-row {
    font-size: 3vw;
    display: grid;
    justify-items: center;
    text-align: center;
  }
  .home-container {
    text-align: center;
  }
  #shop-email {
    text-align: center;
    width: 100%;
  }

  #treatment-quickaccess {
    display: none;
  }
}
@media only screen and (max-width: 1500px) {
  .massage-main {
    font-size: 2.5vw;
    width: 100vw;
  }

  #treatment-quickaccess {
    display: none;
  }
  #facial-quickaccess {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .treatments-div {
    display: grid;
    justify-content: center;
  }
  p {
    width: 100%;
    font: 2vw;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    width: 100%;
    font-size: 4vw;
  }
  #carpark-main {
    font-size: 3.5vw;
  }
  #footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  #massage-main {
    font-size: 2.5vw;
  }
}
@media only screen and (min-width: 1200px) {
  p {
    width: 100%;
    font: 100px;
  }
  h1,
  h2,
  h3,
  h4 {
    width: 100%;
    font-size: 50px;
  }
  h5 {
    font-size: 30px;
  }
  #carpark-main {
    font-size: 3.5vw;
  }
  #footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  #massage-main {
    font-size: 2.5vw;
  }
  #address,
  #contact,
  #follow,
  #shop-name {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1510px) {
  #massage-left-col {
    display: none;
  }
}
@media only screen and (min-width: 1820px) {
  .card {
    width: 35rem;
  }
}
@media only screen and (max-width: 1820px) {
  .card {
    width: 70rem;
  }
}
@media only screen and (max-width: 1364px) {
  .card {
    width: 50rem;
  }
}
@media only screen and (max-width: 942px) {
  .card {
    width: 30rem;
  }
}
@media only screen and (max-width: 557px) {
  .card {
    width: 20rem;
  }
}
hr {
  border: none;
  border: 0.5px solid goldenrod;
  color: goldenrod;
  font-size: large;
  font-weight: bold;
  overflow: visible;
  text-align: center;
}
hr::after {
  background: #fff;
  font: 20px solid red;
  color: rgb(112, 62, 21);
  content: "D&J";
  padding: 0 4px;
  position: relative;
  top: -14px;
}
#sub-header {
  font-size: large;
  font-weight: bold;
  font: 30px solid goldenrod;
  text-align: center;
  color: goldenrod;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Petrona", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tangerine", cursive;
}

#home-header {
  color: goldenrod;
  font: 60px solid goldenrod;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Petrona", serif;
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tangerine", cursive;
  opacity: 1;
}
.massage-main {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 0 5px goldenrod;
}
.waxing-main {
  margin-top: 20px;

  box-shadow: 0 0 0 5px goldenrod;
}
.facial-main {
  margin-top: 20px;

  box-shadow: 0 0 0 5px goldenrod;
}

#massage-image:hover {
  border: 10px solid goldenrod;
}
.main-massage-text {
  color: goldenrod;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Petrona", serif;
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tangerine", cursive;
  text-align: center;
}
#massage-text {
  text-align: center;
}
